<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .footer{
            position:fixed;
            bottom:0;
            left:0;
            width:100%;
            height: 90px;
            background-color: #D0DAEE;
        }
    </style>
</head>
<body>
<footer th:fragment="footer">
    <div th:class="footer"><p>Copyright by Johanna Vo &copy; Product Management System 2022</p></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</footer>
</body>
</html>