<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Head-->
<div th:replace="fragrams/header :: header" />
<body>
<!-- Responsive navbar-->
<div th:replace="fragrams/nav :: nav" />
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5 vh-100">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div th:if="${param.error}">
                    <p class="text-warning">Invalid username or password</p>
                </div>

                <form th:action="@{/login/processing}" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
        </div>
    </div>
</header>

<!-- Footer-->
<div th:replace="fragrams/footer :: footer"/>


</body>
</html>